[Unit]
Description=Retro Launcher Service
After=multi-user.target

[Service]
Type=simple
User=jernej
WorkingDirectory=/home/jernej/retro-launcher
Environment=SDL_VIDEODRIVER=kmsdrm
ExecStart=/home/jernej/retro-launcher/retro-launcher --debug
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
